<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do App</title>
  </head>

  <body>

    <p>{{signoutMsg}}</p>

    <form action="/relogin" method="POST">
      <input type="submit" value='re-loggin'>
    </form>

    {{> footer}}

  </body>


</html>
